body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}

.navbar {
    background-color: #007BFF;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #f8f9fa !important;
}